---
import { Button, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'

const headings = [
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>北京大学智班学生</p>
  <p>
    喜欢旅行，体验多元的文化与欣赏别样的风景。
  </p>

  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' variant='ahead' />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>主要活跃平台：</p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/jiang-reizen',
        text: 'followers',
        api: 'github/jiang-reizen'
      }
    ]}
  />

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>网站历史：</p>
  <Timeline
    events={[
      {
        date: '2025-11-10',
        content: '创建个人博客网站：<a href="https://jiang-reizen.github.io" target="_blank">jiang-reizen.github.io</a>'
      },
    ]}
  />

  <p>
    本站的顺利运行与个性化定制依赖以下优秀项目与服务提供者的支持：
  </p>
  <ul>
    <li>
      托管平台：
      <a href='https://pages.github.com/' target='_blank'>GitHub Pages</a>
    </li>
    <li>
      框架与主题：
      <a href='https://astro.build/' target='_blank'>Astro</a> +
      <a href='https://github.com/cworld1/astro-theme-pure' target='_blank'>Astro Theme Pure</a>
    </li>
  </ul>
</PageLayout>
